@import url(https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i);
*{
    color: white;
}
html{
    position:relative;
    height:100%;
    min-height:100%;
    width:100%;
    overflow:hidden
}
html{
    position:relative;
    height:100%;
    min-height:100%;
    width:100%;
    overflow:hidden
}
body{
    position:initial;
    font-family:poppins,Helvetica,sans-serif;
    font-size:14px;
    font-weight:400;
    margin:0;
    width:100%;
    height:100%;
    min-height:100%;
    background-color:#007ced;
    background-position:center center;
    background-size:calc(100% + 25px);
    background-repeat:repeat;
    background-attachment:fixed;
    overflow-y:auto;
    overflow-x:hidden
}
.header{
    display:block;
    width:100%;
    padding-bottom:40px;
    position:relative
}
.single-page-content .content-area{
    position:relative;
    width:100%;
    margin:0 auto;
    height:auto;
    min-height:100%
}
body{
    position:initial;
    font-family:poppins,Helvetica,sans-serif;
    font-size:14px;
    font-weight:400;
    margin:0;
    width:100%;
    height:100%;
    min-height:100%;
    background-color:#007ced;
    background-position:center center;
    background-size:calc(100% + 25px);
    background-repeat:repeat;
    background-attachment:fixed;
    overflow-y:auto;
    overflow-x:hidden
}
h1,h2,h4,h5{
    font-family:poppins,Helvetica,sans-serif;
    font-weight:600;
    font-style:normal;
    color:#f5f5f5
}
h1{
    font-size:32px
}
h2{
    font-size:27px
}
h4{
    font-size:18px
}
h5{
    font-size:16px
}
body,p{
    font-family:poppins,Helvetica,sans-serif;
    font-size:14px;
    font-weight:400;
    font-style:normal;
    line-height:1.75em;
    color:#d5d5d5
}
p{
    font-size:14px;
    color:#d5d5d5;
    margin:0 0 10px
}

.page-title{
    display:block;
    position:relative;
    background-color:#252525;
    border-top:2px solid #333;
    border-bottom:2px solid #333;
    padding:65px 70px;
    margin-right:-70px;
    margin-left:-70px;
    margin-bottom:65px;
    text-align:left
}
.page-title h1{
    font-size:44px;
    font-weight:600;
    margin:0
}
.home-content{
    margin:5% 10%
}
.home-text{
    text-align:left;
    padding-right:10px
}
.home-text.hp-left{
    padding-left:25px;
    padding-right:0
}
.home-text h1{
    font-size:48px;
    line-height:56px;
    margin-top:0;
    margin-bottom:20px
}
.home-photo{
    display:block;
    position:relative;
    width:100%;
    padding-bottom:calc(100% - 36px);
    border-radius:1000px;
    overflow:hidden;
    background-color:#444;
    border:18px solid #444;
    -webkit-box-shadow:0 0 25px 0 rgba(0,0,0,.8);
    -moz-box-shadow:0 0 25px 0 rgba(0,0,0,.8);
    box-shadow:0 0 25px 0 rgba(0,0,0,.8)
}
.home-photo .hp-inner{
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    height:auto;
    display:block;
    position:absolute;
    top:-18px;
    bottom:-18px;
    width:auto;
    left:-18px;
    right:-18px
}

.timeline-item{
    position:relative;
    padding:25px 0 20px 40px
}

.timeline-item:first-child{
    padding-top:3px
}
.timeline-item:last-child:after{
    display:none
}
.timeline-item:last-child{
    margin-bottom:30px
}
.timeline-item .item-title{
    font-size:16px;
    margin:10px 0 7px
}
.timeline-item p{
    font-size:.92em
}
.skills-info.skills-first-style{
    margin-bottom:30px
}
.site-content.single-post{
    padding-top:0;
    padding-left:0;
    padding-right:0
}

.page-content h2:first-child,.page-content h5:first-child{
    margin-top:0
}
.site-footer{
    display:block;
    position:relative;
    margin:60px -70px -60px;
    padding:15px 45px;
    background-color:#252525;
    border-top:2px solid #333;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px
}
.footer-copyrights{
    float:right
}
.footer-copyrights p{
    color:#ddd;
    line-height:21px;
    font-size:13px;
    margin:0
}


